{% extends 'base.html.twig' %}

{% block title %}Palindrome Checker{% endblock %}

{% block body %}
<h1>Palindrome Checker</h1>
<form action="{{path('palindrome_checker')}}" method="GET">
    <label for="word">Enter a word to Check</label>
    <input type="text" id="word" name="word" required>
    <button type="submit">Check</button>
</form>
{% if message is defined %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}
